<div class="reg_log">
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="show_post">


<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h4 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h4>
  
  <div><%=markdown raw @post.content %></div>
  <div>
  	<% if current_user%>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure"} %>
  <%end%>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    </div>
</div>
</div>
</div>